/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#fff;
    width:100%;
    height:100%;
  font-weight: 700;
}

.app {
    padding:10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#app, #app-next {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
}

h1, h2, p, .app .card {
  -webkit-font-smoothing: antialiased;
}

.app .card {
  float: right;
  position: relative;
  top: -3px;
}

.app .color {
  font-size: 45px;
  line-height: 38px;
}

.app .name {
}

.app h1 {
  margin-top: 10px;
  font-weight: 900;
}

.app p {
  font-size: 24px;
}

.red {
  color: #d9534f;
}

.king.red {
  color: #fff;
  background-color: #d9534f;
}

.king.black {
  color: #fff;
  background-color: #333;
}

hr {
  opacity: 0.1;
}

.red hr {
  border-color: #d9534f;
}

.black hr {
  border-color: #333;
}

.king.red hr {
  border-color: #fff;
}

.king.black hr {
  border-color: #fff;
}

.muted {
  opacity: 0.67;
}

#help {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  padding-top: 0;
}

#help p {
  font-size: 16px;
}

.progress {
  width: 100%;
  height: 6px;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0;
}

.red .progress-bar {
  background-color: #d9534f;
}

.black .progress-bar {
  background-color: #333;
}

.king.red .progress {
  background-color: #d9534f;
}

.king.black .progress {
  background-color: #333;
}

.king.red .progress-bar {
  background-color: #fff;
}

.king.black .progress-bar {
  background-color: #fff;
}

.page {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.page-left {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;

  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.common {

}

.rotate {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 6px 10px 0 10px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
